CARDTRADER_API_TOKEN=
CARDTRADER_API_BASE_URL=https://api.cardtrader.com/api/v2
CARDTRADER_CONNECT_TIMEOUT=5s
CARDTRADER_READ_TIMEOUT=20s
CARDTRADER_MIN_REQUEST_INTERVAL=50ms
CARDTRADER_MARKETPLACE_MIN_REQUEST_INTERVAL=1s
MONITORING_SCHEDULE_CRON=0 0 6 * * MON
MONITORING_SCHEDULE_ZONE=Europe/Rome
